.wrapper {
    margin-top: 30px;
    width: 150px;
  }
  
  .container {
    background-color: #000000;
  }
  
  .body {
    display: flex;
    justify-content: space-between;
    background-color: #313133;
  }